.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.landingPage {
  width: 75%;
  margin: 10px;
  background: rgba(255, 255, 255,0.7);
  border-radius: 5px;
  color:black;
  padding: 10px;
  text-align: center;
}

.leftAlignMain {
  text-align: left;
  padding: 0px 15px;
}

.leftAlignMain h4 {
  text-align: center;
}

.chooseFeelsContainer h1 {
  color: white;
}

.emotionsContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.emotionCard {
  width: 90%;
  height: 50%;
  margin: 12px;
  padding: 30px 10px;
  color: rgb(14, 46, 73);
  background: rgba(255, 255, 255,0.7);
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.emotionCard h1 {
  margin: 10%;
  color: rgb(14, 46, 73);
}

.valid{
  width: 90%;
  height: 50%;
  margin: 12px;
  padding: 30px 10px;
  color: rgb(14, 46, 73);
  background: rgba(255, 255, 255,0.7);
  align-self: center;
  text-align: center;
}

button {
  margin-top: 10vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  width: 100vw;
}

.nav a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-decoration: none;
  margin: 25px;
  color: white;
}

.nav a span {
  width: 100%;
  margin-top: -25px;
  margin-left: 30%;
  padding: 0;
}

.nav a:focus {
  color: gold;
  margin: 23px 25px;
}