.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}

.landingPage {
  width: 50%;
  margin-top: 10vh;
  background: rgba(255, 255, 255,0.7);
  border-radius: 5px;
  color:black;
  padding: 10px 16px;
  text-align: center;
}

button {
  margin-top: 10vh;
}

.emotions {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: -15%;
  
}

.nav a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-decoration: none;
  margin: 25px;
  color: white;
}

.nav a span {
  width: 100%;
  margin-top: -25px;
  margin-left: 30%;
  padding: 0;
}

.nav a:focus {
  color: gold;
  margin: 23px 25px;
}