.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  background-color: #282c34;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  font-size: 1em;
  padding: 10px;
  margin: 0;
}

.commentContainer {
  flex-direction: column;
  width: 36vw;
  min-height: 10vh;
  max-height: 15vh;
  overflow: scroll;
  text-align: center;
  font-size: small;
  color: black;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid gold;
}

.commentContainer button {
  border-radius: 20%;
  width: 4.2em;
  height: 1.8em;
  text-align: center;
  padding: 0.1em;
}

form {
  padding: 2em;
  text-align: center;
  font-size: small;
  color: black;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: no-repeat;
}

.landingPage {
  width: 86vw;
  height: 78vh;
  background: rgba(255, 255, 255,0.7);
  border-radius: 5px;
  color:black;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.leftAlignMain {
  text-align: left;
  padding: 0px 15px;
}

.leftAlignMain h4 {
  text-align: center;
}

.chooseFeelsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chooseFeelsContainer h1 {
  color: white;
}

.emotionsContainer {
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.emotionCard {
  width: 90%;
  height: 90%;
  color: rgb(14, 46, 73);
  background: rgba(255, 255, 255,0.7);
  text-align: center;
  justify-self: center;
  text-decoration: none;
}

.emotionCard h1 {
  margin: 10%;
  color: rgb(14, 46, 73);
}

.valid{
  width: 90%;
  height: 50%;
  margin: 12px;
  padding: 30px 10px;
  color: rgb(14, 46, 73);
  background: rgba(255, 255, 255,0.7);
  align-self: center;
  text-align: center;
}

button {
  border-radius: 10%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  width: 100vw;
}

.nav a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-decoration: none;
  margin: 25px;
  color: white;
}

.nav a span {
  width: 100%;
  margin-top: -25px;
  margin-left: 30%;
  padding: 0;
}

.nav a:focus {
  color: gold;
  margin: 23px 25px;
}

.details {
  cursor: pointer;
  }

  details {
    align-self: flex-start;
    opacity: 0.8;
  }

  details>summary {
    list-style-type: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  details>summary::before {
    content: '✏';
    font-size: 2em;
    cursor: pointer;
  }

  details[open] > summary::before {
    content: '✎';
    font-size: 2em;
    cursor: pointer;
  }
  
  .actionablesContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 1em;
    padding: 20px;
    margin: 0;
  }

  .actionablesContainer h1 {
    color: rgba(245, 245, 245, 0.856);
    text-shadow: 2px 2px 5px lightskyblue;
  }

  .actionCard {
    flex-direction: column;
    width: 50vw;
    min-height: 10vh;
    max-height: 30vh;
    overflow: scroll;
    text-align: center;
    font-size: small;
    color: black;
    padding: 2px 10px;
    margin: 10px;
    text-align: left;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px dotted rgb(202, 184, 236);
  }

  .actionCard h1 {
    text-align: center;
    color: black;
    text-shadow: .5px .5px 2px turquoise;
  }